<div class="dummy-phone"> 
          <div class="screen-shot">
            <div class="carousel carousel-fade" data-ride="carousel">
              <div class="carousel-inner">  
                <div class="carousel-item active">
                  <%= image_tag "23.png", height:'427', width:'240'%>
                </div>
                <div class="carousel-item  ">
                  <%= image_tag "9.png", height:'427', width:'240'%>
                </div>
                <div class="carousel-item ">
                  <%= image_tag "30.png", height:'427', width:'240'%>
                </div>
                <div class="carousel-item ">
                <%= image_tag "butler.png", height:'427', width:'240'%>
                </div>
                <div class="carousel-item ">
                <%= image_tag "11.png", height:'427', width:'240'%>
                </div>
              </div>
            </div>
          </div>
        </div>