<!DOCTYPE html>
<html>
  <head>
    <title>My Recipes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- Navbar -->
  <div class="container">
    <% if current_user %>
     <%= render 'shared/navbar'%>
    <% else %>
      <%= render 'shared/guestnav'%>
    <% end %>
  </div>
  <div class="container">
    <%# thiss will help display erros etc %>
    <%= render 'shared/messages' %>
    <%# <%= render 'shared/errors' should we render the errors her or on the individual "create" or in in t his frmework "new"%>
      <%= yield %>
      <%= render 'shared/footer' %>
  </div>
  </div>
  </body>
</html>
