<!DOCTYPE html>
<html>
  <head>
    <title>My Recipes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- Navbar -->
  <div class="container">
    <%= render 'shared/navbar' if current_user%>
  </div>
  <div class="container">
    <%# thiss will help display erros etc %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
  </div>
  <div class = "container">
      <%= render 'shared/footer' %>
  </div>
  </body>
</html>
